@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, span, button, p, dd {
    @apply text-slate-700;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FAFAFA;
}

.font-silk {
  font-family: 'Silkscreen', cursive;
}

.pretendard {
  font-family: Pretendard, cursive;
}

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('../../fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('../../fonts/Pretendard-Medium.woff2') format('woff2');
}


.gradient-pinksea {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  /*background-color: #FF9A8B;*/
  /*background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);*/
}

.gradient-bluesea {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.gradient-sun {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.gradient-deepblue {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('../public/Pretendard-Medium.woff');
}

.header_nav {
  @apply flex gap-x-2 md:gap-x-4 text-sm md:text-base text-white font-semibold tracking-wider;
}

.article_preview {
  @apply w-[340px] md:w-full h-40 rounded-xl drop-shadow-md;
}

.post_layout {
  @apply grid grid-cols-none md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-x-4 gap-y-5
  justify-center md:justify-start;
}

.tag_layout {
  @apply w-full h-fit flex gap-x-1.5 px-2 py-1.5 bg-slate-100 rounded-md;
}

.tag_button {
  @apply py-px px-1.5 bg-white text-sm md:text-base rounded-md drop-shadow-sm transition-colors duration-150 hover:bg-slate-200;
}

.tag_button--pressed {
  @apply gradient-bluesea text-white;
}

.post_layout {
  @apply grid grid-cols-none md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-x-4 gap-y-5
  justify-center md:justify-start;
}
